<?xml version="1.0"?>
<config>
  <modules>
    <Infoway_Chat>
      <version>0.1.0</version>
    </Infoway_Chat>
  </modules>
  <frontend>
    <routers>
      <chat>
        <use>standard</use>
          <args>
            <module>Infoway_Chat</module>
            <frontName>chat</frontName>
          </args>
      </chat>
    </routers>
		<layout>
		  <updates>
			<chat>
			  <file>chat.xml</file>
			</chat>
		  </updates>
		</layout>
    <events>
        <customer_logout>
            <observers>
                <chatlogout>
                    <class>Infoway_Chat_Model_Observer</class>
                    <method>logout</method>
                    <type>singleton</type>
                </chatlogout>
            </observers>
        </customer_logout>

        <customer_login>
            <observers>
                <chatlogin>
                    <class>Infoway_Chat_Model_Observer</class>
                    <method>login</method>
                    <type>singleton</type>
                </chatlogin>
            </observers>
        </customer_login>
    </events>            
  </frontend>
  <global>
    <helpers>
      <chat>
        <class>Infoway_Chat_Helper</class>
      </chat>
    </helpers>
	<blocks>
	  <chat>
		<class>Infoway_Chat_Block</class>
	  </chat>
	</blocks>
  </global>
</config> 